.Container
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Inner
{
  position: relative;
}
@media screen and ( max-width: 900px )
{
  .Container-RespMedium
  {
    justify-content: flex-start;
  }
  .Container-RespMedium .Inner
  {
    position: initial;
  }
}
@media screen and ( max-width: 600px )
{
  .Container-RespSmall
  {
    justify-content: flex-start;
  }
  .Container-RespSmall .Inner
  {
    position: initial;
  }
}