.Container
{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Intro
{
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Title
{
	font-size: 1.1em;
}
.Lines
{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Lines > * + *
{
	margin-top: 5px;
}
.Line
{
	font-size: 0.6em;
	line-height: 1.4em;
	text-align: center;
	text-transform: lowercase;
}
.Images
{
	position: relative;
	border-color: var(--color-medium);
	border-width: 1px;
	border-style: solid;
	border-left: none;
	border-right: none;
}
.Images > * + *
{
	border-top-color: var(--color-medium);
	border-top-width: 1px;
	border-top-style: solid;
}
.Image
{
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
@media screen and ( max-width: 900px )
{
	.Intro
	{
		width: 90%;
	}
}
@media screen and ( max-width: 600px )
{
	.Title
	{
		font-size: 1em;
	}
	.Line
	{
		font-size: 0.45em;
	}
}