.Container
{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Intro
{
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Title
{
	font-size: 1.1em;
	text-align: center;
}
.Links
{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.75em;
}
.Links > * + *
{
	margin-top: 10px;
}
.Link
{
	position: relative;
	display: block;
	text-transform: lowercase;
}
.Link::before
{
	content: '';
	display: block;
	position: absolute;
	left: -30px;
	bottom: 0.2em;
	width: calc(100% + 60px);
	border-bottom-color: var(--color-medium);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: -1;
}
.Link::after
{
	content: '';
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	background-image: url(/icons/arrow.svg);
	background-position: center;
	background-size: contain;
	transform: rotate(45deg);
	margin-left: 0.2em;
	position: relative;
	top: 0.1em;
	opacity: 0.8;
}
.Link:hover
{
	transform: scale(-1,1);
}
.Images
{
	position: relative;
	border-color: var(--color-medium);
	border-width: 1px;
	border-style: solid;
	border-left: none;
	border-right: none;
}
.Images > * + *
{
	border-top-color: var(--color-medium);
	border-top-width: 1px;
	border-top-style: solid;
}
.Image
{
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
@media screen and ( max-width: 900px )
{
	.Intro
	{
		width: 90%;
	}
}
@media screen and ( max-width: 600px )
{
	.Title
	{
		font-size: 1em;
	}
	.Links
	{
		font-size: 0.65em;
	}
}