.Lines
{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Lines > * + *
{
	margin-top: 5px;
}
.Line
{
	font-size: 0.6em;
	line-height: 1.4em;
	text-align: center;
	text-transform: lowercase;
}
@media screen and ( max-width: 600px )
{
	.Line
	{
		font-size: 0.45em;
	}
}