.Container
{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
}
.Subtitle
{
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100vw;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  text-transform: lowercase;
  color: hsl(0, 0%, 90%);
  padding: 0 5vw;
}
.Subtitle span
{
  background-color: hsl(0, 0%, 5%);
  line-height: 1.5em;
}
.Button
{
  position: absolute;
  top: 10px;
  font-family: monospace;
  font-size: 16px;
  text-transform: lowercase;
  color: hsl(0, 0%, 80%);
  padding: 2px 5px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 5%, 0.2);
}
.Button:hover
{
  background-color: hsla(0, 0%, 5%, 0.7);
}
.Button-Active
{
  background-color: hsla(0, 0%, 5%, 0.5);
}
.Button-Quality
{
  left: 10px;
}
.Button-Info
{
  right: 10px;
}
@media (max-width: 900px)
{
  .Subtitle
  {
    font-size: 16px;
  }  
}