html, body,
div, span, a, p,
header, footer,
picture, figure, section, article,
img, canvas, audio, video,
h1, h2, h3, h4, h5, h6,
code, pre,
ul, ol, li
{
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	box-sizing: border-box;
}
ul, ol, li
{
	list-style: none;
}
img, canvas, video
{
	display: block;
}
body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a
{
	text-decoration: none;
}