html, body,
div, span, a, p,
header, footer,
picture, figure, section, article,
img, canvas, audio, video,
h1, h2, h3, h4, h5, h6,
code, pre, button, input,
ul, ol, li
{
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	box-sizing: border-box;
	appearance: none;
	background: transparent;
	border: none;
	line-height: inherit;
	letter-spacing: inherit;
}
ul, ol, li
{
	list-style: none;
}
img, canvas, video
{
	display: block;
}
body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a
{
	text-decoration: none;
}