:root
{
	--color-light: hsla(0, 0%, 85%, 1.0);
	--color-medium: hsla(0, 0%, 75%, 1.0);
	--color-dark: hsla(0, 0%, 15%, 1.0);
}
body
{
	color: var(--color-dark);
	background-color: var(--color-light);
	font-family: 'Xanh Mono', monospace;
	font-weight: 300;
	font-size: 30px;
	font-style: normal;
	letter-spacing: -0.01em;
}
button
{
	cursor: pointer;
}