.Link
{
	border-color: var(--color-medium);
	border-width: 1px;
	border-style: solid;
	padding: 0 0.3em;
	transition-property: border-color;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	display: inline-block;
}
.Link:hover
{
	border-color: hsla(0, 0%, 70%, 1.0);
	transform: scale(1, -1);
}