.Container
{
	margin-top: 80px;
	font-size: 0.75em;
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Intro
{
	font-size: 0.9em;
}
.Summary_Headline::before
{
	content: ', ';
}
.Summaries,
.Summaries > * + *
{
	margin-top: 40px;
}
@media screen and ( max-width: 900px )
{
	.Summaries
	{
		width: 90%;
	}
	.Summary_Line
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.Summary_Headline
	{
		margin-left: 20px;
		margin-top: 10px;
		font-size: 0.8em;
	}
	.Summary_Headline::before
	{
		content: none;
	}
}
@media screen and ( max-width: 600px )
{
	.Container
	{
		font-size: 0.6em;
	}
	.Summaries
	{
		width: 95%;
	}
	.Summary_Line
	{
		align-items: flex-start;
	}
	.Summary_Headline
	{
		margin-left: 5px;
		margin-top: 5px;
		font-size: 0.7em;
	}
}