.Container
{
	margin-top: 80px;
	font-size: 0.75em;
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Intro
{
	font-size: 0.9em;
}
.Summary
{
	display: block;
}
.Headline::before
{
	content: ', ';
}
.Container * + *
{
	margin-top: 40px;
}