.Container,
.Header,
.Main
{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Container
{
	margin-top: 200px;
	margin-bottom: 300px;
}
@media screen and ( max-width : 600px )
{
	.Container
	{
		margin-top: 100px;
		margin-bottom: 200px;
	}
}
.Header_Name
{
	font-size: 0.9em;
	width: 100%;
	max-width: 400px;
}
@media screen and ( max-width : 600px )
{
	.Header_Name
	{
		width: 90%;
		font-size: 0.8em;
	}
}
.Header_Name h1
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Container-Project h1::before
{
  display: inline-block;
  content: '<';
  margin-right: 0.5em;
  font-size: 0.9em;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.Container-Project h1:hover::before
{
  transform: translateX(-5px);
}
.Header_Role
{
	font-size: 1.05em;
}
.Header_Role-1
{
	margin-top: 30px;
	width: 100%;
	max-width: 500px;
}
.Header_Role-2
{
	margin-top: 20px;
	width: 100%;
	max-width: 500px;
}
.Container-Project .Header_Role
{
	display: none;
}
@media screen and ( max-width : 600px )
{
	.Header_Role
	{
		font-size: 0.8em;
	}
	.Header_Role-1
	{
		margin-top: 20px;
		width: 90%;
	}
	.Header_Role-2
	{
		margin-top: 10px;
		width: 90%;
	}
}
.Social
{
	margin-top: 80px;
	font-size: 0.65em;
	max-width: 1000px;
}
.Social_Link + .Social_Link::before
{
	content: ', ';
}
.Social_Link::before
{
	content: ' ';
}
.Footer
{
	font-size: 0.55em;
	margin-top: 40px;
	max-width: 800px;
}
.Footer > * + *::before
{
	content: ' ';
}
@media screen and ( max-width : 900px )
{
	.Social
	{
		margin-top: 120px;
	}
}
@media screen and ( max-width : 600px )
{
	.Social
	{
		font-size: 0.6em;
	}
	.Footer
	{
		font-size: 0.5em;
		margin-top: 20px;
	}
}