.Container,
.Header,
.Main
{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Container
{
	margin-top: 200px;
	margin-bottom: 300px;
}
@media screen and ( max-width : 600px )
{
	.Container
	{
		margin-top: 100px;
		margin-bottom: 200px;
	}
}
.Header_Name
{
	font-size: 0.95em;
	font-style: italic;
	position: relative;
}
.Container-Project .Header_Name::before
{
  content: '<';
  font-size: 0.9em;
	position: absolute;
	left: -1em;
	bottom: 0.07em;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
.Container-Project .Header_Name:hover::before
{
  transform: translateX(-5px);
}
.Header_Role
{
	font-size: 1.05em;
	text-transform: capitalize;
}
.Header_Role-1
{
	margin-top: 15px;
}
.Header_Role-2
{
	margin-top: 5px;
}
.Container-Project .Header_Role
{
	display: none;
}
.Social
{
	margin-top: 100px;
	font-size: 0.65em;
}
.Social_Link + .Social_Link::before
{
	content: ', ';
}
.Social_Link::before
{
	content: ' ';
}
.Email
{
	margin-top: 15px;
	font-size: 0.6em;
}
.Footer
{
	font-size: 0.55em;
	margin-top: 20px;
}
.Footer > * + *::before
{
	content: ' ';
}
@media screen and ( max-width : 900px )
{
	.Social
	{
		margin-top: 120px;
	}
}
@media screen and ( max-width : 600px )
{
	.Social
	{
		font-size: 0.6em;
	}
	.Footer
	{
		font-size: 0.5em;
		margin-top: 20px;
	}
}