@import './reset.css';
@import './fonts.css';

:root
{
	--color-light: hsla(0, 0%, 85%, 1.0);
	--color-dark: hsla(0, 0%, 10%, 1.0);
}
body
{
	font-family: 'Red Hat Mono', monospace;
	font-weight: 300;
	font-size: 30px;
	font-style: normal;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: -0.02em;
	color: var(--color-dark);
	background-color: var(--color-light);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Serif-I,
.Serif-N
{
	font-family: 'Fraunces', serif;
	font-weight: 200;
	text-transform: capitalize;
	letter-spacing: 0.03em;
}
.Serif-I
{
	font-style: italic;
}
.Serif-N
{
	font-style: normal;
}
.Center
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Line
{
	position: relative;
}
.Home
{
	margin-top: 300px;
	margin-bottom: 300px;
	max-width: 1400px;
}
.Header
{
	max-width: 800px;
}
.Header_Name
{
	font-size: 1.25em;
}
.Header_Role
{
	font-size: 1.05em;
}
.Header_Role-1
{
	margin-top: 50px;
}
.Header_Role-2
{
	margin-top: 20px;
}
.Nav,
.Social
{
	margin-top: 60px;
}
.Nav
{
	font-size: 0.75em;
	max-width: 1000px;
}
.Nav_Intro
{
	font-size: 0.9em;
}
.Nav * + *
{
	margin-top: 40px;
}
.Button
{
	border-color: hsla(0, 0%, 60%, 1.0);
	border-width: 1px;
	border-style: solid;
	padding: 0 0.3em;
	transition-property: border-color;
	transition-timing-function: ease;
	transition-duration: 0.1s;
}
.Button:hover
{
	border-color: hsla(0, 0%, 70%, 1.0);
}
.Social
{
	font-size: 0.65em;
	max-width: 1000px;
}
.Footer
{
	font-size: 0.55em;
	margin-top: 40px;
	max-width: 800px;
}
.Project
{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
}
.Project_Images
{
	width: calc(100vw - 10vw);
	height: calc(100vh - 10vw);
}
.Project_Image
{
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	overflow: hidden;
}
.Project_Image img
{
	width: 100%;
	height: auto;
}