.Container
{
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Frame
{
  padding: 100px;
}
.Image
{
  width: 60vw;
  height: auto;
}
.Action
{
  width: 10px;
  height: 10px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 50%;
}
.Action:hover
{
  background-color: hsl(0, 0%, 70%);
}
@media screen and ( max-width: 900px )
{
  .Image
  {
    width: 80vw;
  }
  .Frame
  {
    padding: 5vw;
  }
}
@media screen and ( max-width: 600px )
{
  .Container
  {
    padding: 50px 0;
  }
}